<h2>Sign up for our newsletter to receive news and specials!</h2>
<form role="form form-horizontal" action="/process?form=newsletter" method="POST">
  <div class="form-group">
    <input type="hidden" name="_csrf" id="_csrf" value="{{csrf}}">
    <label for="fieldName" class="col-sm-2 control-label">Name</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" id="fieldName" name="name" placeholder="Name">
    </div>
  </div>
  <div class="form-group">
    <label for="fieldEmail" class="col-sm-2 control-label">Email</label>
    <div class="col-sm-4">
      <input type="email" class="form-control" id="fieldEmail" name="email" placeholder="Email">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-4">
      <button type="submit" class="btn btn-default">Register</button>
    </div>
  </div>
</form>
